# mv dev.env.example to dev.env to enable env configration

# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080

BASE_URL=http://39.99.211.143:3000/
CKB_NODE=http://39.99.211.143:8116/

