# mv prod.env.example to prod.env to enable env configration

# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080

BASE_URL=https://cellapi.ckb.pw/
SWAP_BASE_URL=https://swapapi.ckb.pw/
CKB_NODE=https://lay2.ckb.dev/
EXPLORER_URL=https://explorer.ckb.pw/devnet/
